﻿@using System.Runtime.Remoting.Messaging
@using Links
@using WebExtras.Bootstrap
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="application-name" content="ExpenseLogger" />
  <meta name="author" content="Mihir Mone" />
  <meta name="description" content="A web based expenses logging and monitoring system. Easily manage your expenses, get a trend of your spends and setup email reminders" />

  <link rel="icon" href="@Content.favicon_ico" type="image/x-icon">

  <title>@ViewBag.Title - ExpenseLogger</title>

  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CssMain.ToString())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JsMain.ToString())

</head>
<body>
  <header>
    @Html.Partial(MVC.Shared.Views._Navigation)
  </header>
  @Html.GetLastActionMessage()

  <hr class="gray" />
  <div class="main container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        @Html.RenderUserAlerts(EMessage.Error)
        @Html.RenderUserAlerts(EMessage.Warning)
        @Html.RenderUserAlerts()
        @Html.RenderUserAlerts(EMessage.Success)
      </div>
    </div>

    @RenderBody()
  </div>

  <footer>
    @Html.Hyperlink("About", MVC.Home.About()) | @Html.Hyperlink("Third party libraries", MVC.Home.Credits())
    <br />
    Copyright &copy; @DateTime.Now.Year Mihir Mone
    <br />
    <small>@Html.GetVersion() (Built: @Html.GetBuildDate())</small>
  </footer>

  <div id="page-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-condensed modal-orange">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
          <h2 class="text-center">Loading...</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JsLib.ToString())

  @RenderSection("scripts", required: false)

  <script type="text/javascript">
    Highcharts.setOptions({
      plotOptions: {
        series: {
          animation: false
        }
      }
    });

    var pageModal = $('#page-modal');
    var pageModalTitle = pageModal.find('.modal-title');
    var pageModalBody = pageModal.find('.modal-body');
    var pageModalFooter = pageModal.find('.modal-footer');

    $(function () {
      $('[title]').tooltip({
        placement: 'bottom',
        container: 'body'
      });
      $('[data-toggle="popover"]').popover();
      $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false; // fix for BS 3.3.6
          }

        });
      });

      $('select').selectpicker({ style: 'btn-transparent', iconBase: 'fa', tickIcon: 'fa-check' });

      $('input[type=checkbox]').click(function () {
        var checked = $(this).prop('checked');
        $(this).val(checked);
      });
    });
  </script>
</body>
</html>