﻿@using WebExtras.FontAwesome
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Bootstrap
@model dynamic

<!-- Mobile navigation -->
<div class="row hidden-lg hidden-md topbar-item">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <a href="@Url.Action(MVC.Expenses.Index())"><img src="@Links.Content.images.logo_09_png" class="img-responsive brand-logo" alt="ExpenseLogger" /></a>
  </div>
</div>
@if (User.Identity.IsAuthenticated)
{
  <div class="row hidden-lg hidden-md topbar-item">
    <div class="col-xs-2 text-right">
      @Html.Hyperlink(string.Empty, MVC.Expenses.Index(), new { @class="home-link-mobile" }).AddIcon(EFontAwesomeIcon.Home, EFontAwesomeIconSize.TwoX)
    </div>
    <div class="col-xs-10">
      <nav class="navbar navbar-default navbar-mobile">
        <ul class="nav navbar-nav">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-plus"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Expense", MVC.Expenses.Add())</li>
                <li>@Html.ActionLink("Reminder", MVC.Reminders.Add())</li>
                @*<li><a href="#">Reminder</a></li>
                <li><a href="#">Recurring Expense</a></li>*@
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-search"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Expenses", MVC.Expenses.Search())</li>
                <li>@Html.ActionLink("Reminders", MVC.Reminders.Search())</li>
                @*<li><a href="#">Reminder</a></li>
                <li><a href="#">Recurring Expense</a></li>*@
              </ul>
            </div>
          </li>
          <li class="user-dropdown">
            @Html.Partial(MVC.Shared.Views._UserDropDown)
          </li>
        </ul>
      </nav>
    </div>
  </div>
}

<!-- Main navigation -->
<div class="row hidden-sm hidden-xs topbar-item">
  <div class="col-md-4 col-lg-2 text-center">
    <a href="@Url.Action(MVC.Expenses.Index())"><img src="@Links.Content.images.logo_09_png" class="img-responsive brand-logo" alt="ExpenseLogger"/></a>
  </div>
  <div class="col-md-4 col-lg-2 col-lg-offset-3 text-center">
    @Html.Hyperlink(string.Empty, MVC.Expenses.Index(), new { @class = "home-link-mobile" }).AddIcon(EFontAwesomeIcon.Home, EFontAwesomeIconSize.TwoX)
  </div>
  @if (User.Identity.IsAuthenticated)
  {
    <div class="col-md-4 col-lg-5">
      @Html.Partial(MVC.Shared.Views._UserDropDown)
    </div>
  }
</div>