﻿

<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    @User.Identity.Name &nbsp; <i class="caret"></i>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="@Url.Action(MVC.Security.UserProfile())"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>

    @if (User.IsAdmin)
    {
      <li><a href="@Url.Action(MVC.Security.Settings())"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
    }
    <li><a href="@Url.Action(MVC.Home.About())"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action(MVC.Security.SignOut())"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
  </ul>
</div>
