﻿@using ExpenseLogger.Core
@using WebExtras.Html
@using WebExtras.Mvc.Html
@model ExpenseLogger.Web.Models.Shared.ViewDetailsViewModel

@{
  ViewBag.Title = "View details";
}

<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      @if (Model.ShowPrevNextLinks)
      {
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-1">@Model.PreviousLink</div>
              <div class="col-xs-10 text-center">@Model.Title</div>
              <div class="col-xs-1 text-right">@Model.NextLink</div>
            </div>
          </div>
        </div>
      }
      else
      {
        @Html.PanelHeading(Model.Title).AddCssClass("text-center")
      }

      @Model.Table.AddCssClass("panel-body").AsStriped().ToHtmlElement()
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {

    $('.delete-link').on('click', function () {
      var id = parseInt($(this).data('id'));
      var url = '@Request.RawUrl';

      $.get('@Model.ConfirmDeleteUrl', { id, url }, function (data) {

        @* see Layout page for declarations *@
        pageModalTitle.html(data.title);
        pageModalBody.html(data.content);
        pageModalFooter.html(data.buttons);
      });

    });

    pageModal.on('shown.bs.modal', function () {
      $(this).find('#yes').on('click', function () {
        var id = parseInt($(this).data('id'));
        var url = $(this).data('url');

        $.post('@Model.DeleteUrl', { id }, function (result) {
          if (result === true)
            window.location = url;
        });
      });
    });
    
  });
</script>