﻿@import url('variables.less');

//
// DataTables overrides
//
.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      padding: 0;
    }
  }
}

.panel-heading + .dataTables_wrapper {
  .dataTables_info {
    padding-left: 10px;
  }

  .dataTables_paginate {
    padding-right: 10px;
  }

  table.dataTable {
    margin: 0 !important;
  }
}

.panel-orange > .panel-heading + .dataTables_wrapper,
.panel-primary > .panel-heading + .dataTables_wrapper,
.panel-default > .panel-heading + .dataTables_wrapper {
  .row:first-child {
    display: none;
  }
}

table.dataTable {
  &.no-footer {
    border-bottom-color: @gray-light;
  }

  border-collapse: collapse;

  thead {
    th {
      border-bottom-color: @gray-light;
    }

    td {
      padding: 10px;
      border-bottom-color: @gray-light;
    }
  }
}

.pagination {
  > li {
    > a {
      padding: 4px 8px;
    }
  }
}

div.dataTables_paginate li.first a:before,
div.dataTables_paginate li.previous a:before,
div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
  top: 4px;
}
