﻿.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}
.panel-heading + .dataTables_wrapper .dataTables_info {
  padding-left: 10px;
}
.panel-heading + .dataTables_wrapper .dataTables_paginate {
  padding-right: 10px;
}
.panel-heading + .dataTables_wrapper table.dataTable {
  margin: 0 !important;
}
.panel-orange > .panel-heading + .dataTables_wrapper .row:first-child,
.panel-primary > .panel-heading + .dataTables_wrapper .row:first-child,
.panel-default > .panel-heading + .dataTables_wrapper .row:first-child {
  display: none;
}
table.dataTable {
  border-collapse: collapse;
}
table.dataTable.no-footer {
  border-bottom-color: #999999;
}
table.dataTable thead th {
  border-bottom-color: #999999;
}
table.dataTable thead td {
  padding: 10px;
  border-bottom-color: #999999;
}
.pagination > li > a {
  padding: 4px 8px;
}
div.dataTables_paginate li.first a:before,
div.dataTables_paginate li.previous a:before,
div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
  top: 4px;
}