﻿@import url('variables.less');

/* Bootstrap Overrides */
.dropdown-menu {
  > li {
    > a {
      &:hover {
        background: @orange;
      }
    }
  }
}

//
// Fieldsets
//

legend {
  font-size: 16px;
}

//
// Forms
//


//
// Buttons
//

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

//
// Panels
//

.panel-orange {
  border-color: @orange;

  .panel-heading {
    border: 0;
    color: @gray-darker;
    background-color: @orange;
  }
}

.panel-footer {
  text-align: right;
}

.panel-default {
  > .panel-heading {
    border: 0;
  }
}

.panel-primary {
  .panel-heading {
    .panel-title {
      .fa {
        color: @white;
      }
    }
  }
}

.panel-unpadded {
  .panel-heading {
    padding: 0 15px;
  }
}

//
// Tables
//

.table-unbordered {
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {
        border-top: 0;
      }
    }
  }
}

.panel-heading + table {
  tr {
    th:first-child, td:first-child {
      padding-left: 15px;
    }
  }
}

//
// Navbar
//

.navbar {
  min-height: 40px;
}

.navbar-nav {
  > li {
    > a,
    > label {
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}

.navbar-fixed-bottom {
  li:last-child {
    padding-right: 10px;
  }
}

.navbar-mobile {
  margin-bottom: 0;

  .nav {
    padding: 0.5rem 0;
    margin: 0;

    > li {
      display: inline-block;
      padding-right: 1rem;
    }

    li:first-child {
      margin-left: 1rem;
    }

    li.pull-right {
      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    .open {
      .dropdown-menu {
        background-color: @white;
        position: absolute;
        -moz-box-shadow: 0 6px 12px @gray-lighter;
        -webkit-box-shadow: 0 6px 12px @gray-lighter;
        box-shadow: 0 6px 12px @gray-lighter;
        margin-top: 3px;


        > li {
          display: block;

          > a {
            padding: 5px 15px;

            &:hover {
              background-color: @orange;
            }
          }
        }

        li:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

//
// Alerts
//

.alert-condensed {
  padding: 5px;
  margin: 10px auto;
}

.alert-heading {
  text-decoration: underline;
}

//
// Badges
//

.badge {
  margin: 2px;
  padding: 4px 7px;
}

.badge-lg {
  font-size: 16px;
  font-weight: normal;
}

//
// Modals
//

.modal-orange {
  .modal-header {
    background-color: @orange;
  }
}

.modal-condensed {
  .modal-header {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .modal-body {
    padding: 10px;
  }

  .modal-footer {
    padding: 5px 10px;
  }
}
