﻿/* Bootstrap Overrides */
.dropdown-menu > li > a:hover {
  background: #edc240;
}
legend {
  font-size: 16px;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.panel-orange {
  border-color: #edc240;
}
.panel-orange .panel-heading {
  border: 0;
  color: #222222;
  background-color: #edc240;
}
.panel-footer {
  text-align: right;
}
.panel-default > .panel-heading {
  border: 0;
}
.panel-primary .panel-heading .panel-title .fa {
  color: #ffffff;
}
.panel-unpadded .panel-heading {
  padding: 0 15px;
}
.table-unbordered > thead > tr > th,
.table-unbordered > tbody > tr > th,
.table-unbordered > tfoot > tr > th,
.table-unbordered > thead > tr > td,
.table-unbordered > tbody > tr > td,
.table-unbordered > tfoot > tr > td {
  border-top: 0;
}
.panel-heading + table tr th:first-child,
.panel-heading + table tr td:first-child {
  padding-left: 15px;
}
.navbar {
  min-height: 40px;
}
.navbar-nav > li > a,
.navbar-nav > li > label {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0;
}
.navbar-fixed-bottom li:last-child {
  padding-right: 10px;
}
.navbar-mobile {
  margin-bottom: 0;
}
.navbar-mobile .nav {
  padding: 0.5rem 0;
  margin: 0;
}
.navbar-mobile .nav > li {
  display: inline-block;
  padding-right: 1rem;
}
.navbar-mobile .nav li:first-child {
  margin-left: 1rem;
}
.navbar-mobile .nav li.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar-mobile .nav .open .dropdown-menu {
  background-color: #ffffff;
  position: absolute;
  -moz-box-shadow: 0 6px 12px #eeeeee;
  -webkit-box-shadow: 0 6px 12px #eeeeee;
  box-shadow: 0 6px 12px #eeeeee;
  margin-top: 3px;
}
.navbar-mobile .nav .open .dropdown-menu > li {
  display: block;
}
.navbar-mobile .nav .open .dropdown-menu > li > a {
  padding: 5px 15px;
}
.navbar-mobile .nav .open .dropdown-menu > li > a:hover {
  background-color: #edc240;
}
.navbar-mobile .nav .open .dropdown-menu li:first-child {
  margin-left: 0;
}
.alert-condensed {
  padding: 5px;
  margin: 10px auto;
}
.alert-heading {
  text-decoration: underline;
}
.badge {
  margin: 2px;
  padding: 4px 7px;
}
.badge-lg {
  font-size: 16px;
  font-weight: normal;
}
.modal-orange .modal-header {
  background-color: #edc240;
}
.modal-condensed .modal-header {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-condensed .modal-body {
  padding: 10px;
}
.modal-condensed .modal-footer {
  padding: 5px 10px;
}