﻿.user-dropdown .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.home-link-mobile {
  color: #ffffff;
}
.home-link-mobile .fa {
  margin-top: 7px;
  margin-left: 10px;
}
.fa.fa-plus.fa-3x {
  margin: auto 3px;
}
.bootstrap-select .btn {
  border: 1px solid #cccccc;
}
.bootstrap-select .btn-transparent {
  background: transparent;
}
.bootstrap-switch .bootstrap-switch-label {
  background: #eeeeee;
}
body {
  margin-top: 1rem;
  background-image: url('../images/bg-texture-3.png');
}
footer {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
footer a,
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  cursor: pointer;
}
textarea {
  resize: none;
}
button {
  margin: 0 2px;
}
button:last-child {
  margin-right: 0;
}
.keep-center {
  margin: 0 auto;
}
.context-actions {
  margin-top: 8px;
}
.topbar-item {
  margin: 1rem 0;
}
.topbar-item .user-dropdown {
  position: absolute;
  right: 0;
}
.validation-summary-errors ul {
  margin: 0;
  padding: 0;
}
.validation-summary-errors ul li {
  list-style: none;
}
.alert-danger {
  background: #d9534f;
  color: #ffffff;
}
.alert-warning {
  background: #edc240;
  border-color: #edc240;
  color: #333333;
}
.alert-success {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #222222;
}
hr.gray {
  border-top-color: #555555;
}
.wb-ext-addicon {
  margin-right: 5px;
}
.text-red {
  color: #d9534f;
}
#actionmessage.alert-success {
  color: #ffffff;
}
#actionmessage {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 50px;
  right: 15px;
  z-index: 2000;
}
@media (max-width: 768px) {
  #actionmessage {
    padding-top: 5px;
    padding-bottom: 5px;
    top: 75px;
    right: 15%;
  }
}
@media (max-width: 480px) {
  #actionmessage {
    top: 110px;
    right: 15px;
  }
}
@media (max-width: 360px) {
  #actionmessage {
    top: 100px;
  }
}
.radio-spinner {
  margin: 7px;
}
.bk-primary {
  background: #428bca;
  color: #ffffff;
}
.reminder-strip ul {
  margin-left: -20px;
}
.reminder-strip ul li {
  list-style-type: none;
}
.reminder-strip a,
.reminder-strip a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.reminder-strip .today {
  margin-top: -5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 640px) {
  body {
    font-size: 1.5em;
  }
}
.modal-body .wb-bs-row-table .row {
  margin: 0 auto;
}
.wb-bs-row-table *[class*="col-"] {
  padding: 5px 8px;
}
@media (max-width: 480px) {
  .wb-bs-row-table *[class*="col-"] {
    text-align: center;
  }
}
.panel-body.wb-bs-row-table {
  padding-top: 0;
  padding-bottom: 0;
}
.wb-bs-row-table-striped .row.odd {
  background: #eeeeee;
}
.wb-bs-row-table-footer {
  text-align: right;
  font-weight: bold;
  padding: 5px 0;
}
.panel-primary .wb-bs-row-table-footer {
  background: #337ab7;
  color: #f8f8f8;
}
.icon-only-link {
  color: #333333;
}
img.flaticon {
  width: 16px;
  height: 16px;
}
img.flaticon.flaticon-2x {
  width: 32px;
  height: 32px;
}