﻿@import url('variables.less');

//
// User dropdown
//

.user-dropdown {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.home-link-mobile {
  color: @white;

  .fa {
    margin-top: 7px;
    margin-left: 10px;
  }
}

//
// Font Awesome Overrides
//

.fa.fa-plus.fa-3x {
  margin: auto 3px;
}

//
// Bootstrap Select Overrides
//

.bootstrap-select {
  .btn {
    border: 1px solid #cccccc;
  }

  .btn-transparent {
    background: transparent;
  }
}

//
// Bootstrap Switch Overrides
//

.bootstrap-switch {
  .bootstrap-switch-label {
    background: #eeeeee;
  }
}

//
// Main Styles
//

body {
  margin-top: 1rem;
  background-image: url('../images/bg-texture-3.png');
}

footer {
  font-size: 1.5rem;
  color: @white;
  text-align: center;

  a, a:hover {
    color: @white;
    text-decoration: underline;
  }
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  margin: 0 2px;

  &:last-child {
    margin-right: 0;
  }
}

.keep-center {
  margin: 0 auto;
}

.context-actions {
  margin-top: 8px;
}

.topbar-item {
  margin: 1rem 0;

  .user-dropdown {
    position: absolute;
    right: 0;
  }
}

.validation-summary-errors {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.alert-danger {
  background: @brand-danger;
  color: @white;
}

.alert-warning {
  background: @orange;
  border-color: @orange;
  color: @gray-dark;
}

.alert-success {
  background: @brand-success;
  border-color: @brand-success;
  color: @gray-darker;
}

hr.gray {
  border-top-color: @gray;
}

.wb-ext-addicon {
  margin-right: 5px;
}

.text-red {
  color: @brand-danger;
}

#actionmessage.alert-success {
  color: @white;
}

#actionmessage {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 50px;
  right: 15px;
  z-index: 2000;
}

@media(max-width: 768px) {
  #actionmessage {
    padding-top: 5px;
    padding-bottom: 5px;
    top: 75px;
    right: 15%;
  }
}

@media(max-width: 480px) {
  #actionmessage {
    top: 110px;
    right: 15px;
  }
}

@media(max-width: 360px) {
  #actionmessage {
    top: 100px;
  }
}

.radio-spinner {
  margin: 7px;
}

.bk-primary {
  background: @brand-primary;
  color: @white;
}

.reminder-strip {
  ul {
    margin-left: -20px;

    li {
      list-style-type: none;
    }
  }

  a, a:hover {
    color: @white;
    text-decoration: underline;
  }

  .today {
    margin-top: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

//
// IPhone 5 specific
//

@media(max-width: 640px) {
  body {
    font-size: 1.5em;
  }
}

//
// Bootstrap Row Table
//

.modal-body {
  .wb-bs-row-table {
    .row {
      margin: 0 auto;
    }
  }
}

.wb-bs-row-table {
  *[class*="col-"] {
    padding: 5px 8px;

    @media(max-width: 480px) {
      text-align: center;
    }
  }
}

.panel-body.wb-bs-row-table {
  padding-top: 0;
  padding-bottom: 0;
}

.wb-bs-row-table-striped {
  .row.odd {
    background: @gray-lighter;
  }
}

.wb-bs-row-table-footer {
  text-align: right;
  font-weight: bold;
  padding: 5px 0;
}

.panel-primary {
  .wb-bs-row-table-footer {
    background: @panel-primary;
    color: @gray-lightest;
  }
}

.icon-only-link {
  color: @gray-dark;
}

//
// Flaticons
//

img.flaticon {
  width: 16px;
  height: 16px;

  &.flaticon-2x {
    width: 32px;
    height: 32px;
  }
}
