﻿@using ExpenseLogger.Core
@model ExpenseLogger.Models.Core.Reminder

<div class="row">
  <label class="col-xs-12 col-sm-3">Date</label>
  <div class="col-xs-12 col-sm-9">@Model.Date.ToString(AppConstants.DisplayDateTimeFormat)</div>
</div>

<div class="row">
  <label class="col-xs-12 col-sm-3">Description</label>
  <div class="col-xs-12 col-sm-9">@Model.Description</div>
</div>

<div class="row">
  <label class="col-xs-12 col-sm-3">Send email?</label>
  <div class="col-xs-12 col-sm-9">@(Model.SendEmail ? "Yes" : "No")</div>
</div>

