﻿@model IDictionary<EReminderLookupKey, List<ExpenseLogger.Models.Core.Reminder>>

@using ExpenseLogger.Web.Models.Reminders

<div class="panel panel-primary panel-unpadded">
  @*@Html.PanelHeading("Your reminders")*@
  <div class="panel-heading">
    <div class="row reminder-strip">

      <div class="col-xs-12 col-md-4">
        <h5>Yesterday (@DateTime.Now.AddDays(-1).ToString("dd MMM"))</h5>
        <ul>
          @if (Model.ContainsKey(EReminderLookupKey.Yesterday) && Model[EReminderLookupKey.Yesterday].Any())
          {
            @MvcHtmlString.Create(string.Join(string.Empty, Model[EReminderLookupKey.Yesterday].Select(r => "<li>" + r.ToPopoverLink().ToHtmlString() + "</li>")))
          }
          else
          {
            <li>-</li>
          }
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 bk-primary today">
        <h4>Today (@DateTime.Now.ToString("dd MMM"))</h4>
        <ul>
          @if (Model.ContainsKey(EReminderLookupKey.Today) && Model[EReminderLookupKey.Today].Any())
          {
            @MvcHtmlString.Create(string.Join(string.Empty, Model[EReminderLookupKey.Today].Select(r => "<li>" + r.ToPopoverLink().ToHtmlString() + "</li>")))
          }
          else
          {
            <li>-</li>
          }
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <h5>Tomorrow (@DateTime.Now.AddDays(1).ToString("dd MMM"))</h5>
        <ul>
          @if (Model.ContainsKey(EReminderLookupKey.Tomorrow) && Model[EReminderLookupKey.Tomorrow].Any())
          {
            @MvcHtmlString.Create(string.Join(string.Empty, Model[EReminderLookupKey.Tomorrow].Select(r => "<li>" + r.ToPopoverLink().ToHtmlString() + "</li>")))
          }
          else
          {
            <li>-</li>
          }
        </ul>
      </div>
    </div>
  </div>
  <a href="@Url.Action(MVC.Reminders.MonthlyDetails(DateTime.Now.Ticks))">
    <div class="panel-footer">
      <span class="pull-left">View all reminders for @DateTime.Now.ToString("MMMM yyyy")</span>
      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      <div class="clearfix"></div>
    </div>
  </a>
</div>

