﻿@model ExpenseLogger.Web.Models.Reminders.AddOrEditReminderViewModel

@{
  ViewBag.Title = Model.Title;
}

<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(f => f.Reminder.Id)
      <div class="panel panel-primary">
        @Html.PanelHeading(Model.Title)
        <div class="panel-body">
          @Html.ValidationBootstrap()

          <div class="form-group">
            @{
              Span s = new Span("Date");
              s.CSSClasses.Add("input-group-addon");

              IExtendedHtmlStringLegacy dateControl = Html.DateTimeTextBoxFor(f => f.Reminder.Date);

              dateControl.Prepend(s);
            }

            @dateControl
          </div>

          @Html.FormGroupControlFor(f => f.Reminder.Description, 3, 30).AddText("Description", false).WithAddonBehavior()
          
          <div class="text-center">
            @Html.AwesomeBootstrapCheckboxFor(f => f.Reminder.SendEmail).AsPrimary()
          </div>
        </div>
        @Html.PanelFooter("Save")
      </div>
    }
  </div>
</div>