﻿@using ExpenseLogger.Core
@using WebExtras.Bootstrap
@using WebExtras.Mvc.Html
@model ExpenseLogger.Web.Models.Reminders.SearchResultsViewModel

@{
  ViewBag.Title = "Search results";
}

<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        @Html.Button(EButton.Back, "Edit inputs").AsButton(EBootstrapButton.Primary, EBootstrapButton.XSmall).AddCssClass("pull-right")
        <div class="panel-title text-center">Search filters</div>
      </div>
      <div class="panel-body">

        <div class="row">
          <strong class="col-xs-12 col-sm-4 col-md-3">Search range</strong>
          <div class="col-xs-12 col-sm-6 col-md-9">
            @Model.Inputs.DateFrom.ToString(AppConstants.DisplayDateTimeFormat) to @Model.Inputs.DateTo.ToString(AppConstants.DisplayDateTimeFormat)
          </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Inputs.Description))
        {
          <div class="row">
            <strong class="col-xs-12 col-sm-4 col-md-3">Description</strong>
            <div class="col-xs-12 col-sm-8 col-md-9">
              @Model.Inputs.Description
            </div>
          </div>
        }
        
      </div>
    </div>
  </div>
</div>

@(Html.Partial(MVC.Shared.Views.ViewDetails, Model.Results))

