﻿@model ExpenseLogger.Web.Models.Reminders.SearchViewModel

@{
  ViewBag.Title = "Search reminders";
}

<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">

    @using (Html.BeginForm())
    {
      <div class="panel panel-primary">
        @Html.PanelHeading("Search reminders")

        <div class="panel-body">
          @Html.ValidationBootstrap()

          <label>Date</label>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                @{
                  Span fromDateSpan = new Span("From");
                  fromDateSpan.CSSClasses.Add("input-group-addon");

                  IExtendedHtmlStringLegacy startDateControl = Html.DateTimeTextBoxFor(f => f.DateFrom);

                  startDateControl.Prepend(fromDateSpan);
                }

                @startDateControl
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                @{
                  Span toDateSpan = new Span("To");
                  toDateSpan.CSSClasses.Add("input-group-addon");
                  IExtendedHtmlStringLegacy endDateControl = Html.DateTimeTextBoxFor(f => f.DateTo);

                  endDateControl.Prepend(toDateSpan);
                }

                @endDateControl
              </div>
            </div>
          </div>

          @Html.FormGroupControlFor(f => f.Description, 3, 30).AddText("Description", false).WithAddonBehavior()

          <div class="row">
            <strong class="col-xs-12">
              <small>* All range searches are inclusive of limits</small>
            </strong>
          </div>
        </div>

        @Html.PanelFooter("Search")
      </div>
                  }
  </div>
</div>