﻿@using WebExtras.Bootstrap
@model ExpenseLogger.Web.Models.Reminders.SendEmailStartViewModel
@{
  ViewBag.Title = "Sending email";
}

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        @Html.ProgressBar(EBootstrapProgressBar.Warning, 100, "Please wait").AsAnimated()
        
        <h4 class="text-center">Please wait while I send your reminder email</h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $.post('@Url.Action(MVC.Reminders.SendEmailAsync())', @Html.Raw(JsonConvert.SerializeObject(Model)), function(result) {
      window.location = '@Model.ReturnUrl';
    });
  });
</script>

