﻿@using WebExtras.Mvc.Core
@{
  ViewBag.Title = "About";
}

<div class="row">
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-info">
      @Html.PanelHeading("Licensing & Copyright")
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            @Html.Image(Links.Content.images.agpl_v3_png, new { @class = "img-responsive" })
          </div>
        </div>
        <br />
        <p>
          This is a FREE software and will always remain FREE. You do not and will never have to pay
          for using this system.
        </p>
        <p>
          You can deploy this software on your own server by downloading the latest copy of the system
          from here. If you are really an enthusiast and would like to build the software from source,
          you can get the complete source code from Sourceforge.
        </p>
        <p>
          All the source copyright is owned by me and me alone, however you are free to copy and modify
          the source provided you comply to the appropriate licenses listed on this page and as prescribed
          by these @Html.ActionLink("third party libraries", MVC.Home.Credits()).
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      @Html.PanelHeading("ExpenseLogger")
      <div class="panel-body">
        <p>
          As the name suggests, this is a expenses logging and monitoring tool. Using ExpenseLogger
          you can log your daily expenses and get a brief statistical analysis. ExpenseLogger also
          makes a low level trend analysis giving you estimations for your monthly and yearly projected
          spend amounts. You can get statistics in a tabular format as well as a graphical format. You
          also get average and total spend amounts for the ongoing month and year.
        </p>
        <p>
          For convenience, your expenses can be divided into categories like Food, Grocery, Transport etc.
          which come prebuilt with the system. What's good is that you are not limited to these categories
          alone and you can always add new categories of your own. You can also rename and delete categories
          as per your convenience.
        </p>
        <p>
          ExpenseLogger also facilitates generation of reports for a given time period for one or more categories.
        </p>
      </div>

    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      @Html.PanelHeading("Developer")
      <div class="panel-body">
        <p>
          I am Mihir Mone, the developer, care taker and owner of this little application.
          I am a .NET Web developer and an open source enthusiast.
        </p>
        <p>
          I originally developed this application system to keep a track of my own expenses
          during my Masters education abroad. What started as a regular logbook of expenses,
          slowly evolved to a PHP based web system and eventually has made it here to a .NET
          based web system which can be used by the masses FREE of charge.
        </p>
        <p>
          If you have any ideas or suggestions to improve the existing system feel free to
          email me on monemihir at gmail dot com
        </p>
      </div>

    </div>
  </div>
</div>
