﻿@model ExpenseLogger.Web.Models.Home.CreditsViewModel

@{
  ViewBag.Title = "Credits";
}

<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <div class="panel panel-primary">
      @Html.PanelHeading("Third party libraries")
      @Model.Table.AddCssClass("panel-body").AsStriped().ToHtmlElement()
    </div>
  </div>
</div>

