﻿@using ExpenseLogger.Core
@model ExpenseLogger.Models.Core.Expense

<div class="row">
  <label class="col-xs-12 col-sm-3">Date</label>
  <div class="col-xs-12 col-sm-9">@Model.Date.ToString(AppConstants.DisplayDateTimeFormat)</div>
</div>

<div class="row">
  <label class="col-xs-12 col-sm-3">Category</label>
  <div class="col-xs-12 col-sm-9">@Model.Category.Name</div>
</div>

<div class="row">
  <label class="col-xs-12 col-sm-3">Amount</label>
  <div class="col-xs-12 col-sm-9">@Model.Amount.ToString("F2")</div>
</div>

<div class="row">
  <label class="col-xs-12 col-sm-3">Description</label>
  <div class="col-xs-12 col-sm-9">@Model.Description</div>
</div>