﻿@using WebExtras.Html
@model ExpenseLogger.Web.Models.Expenses.AddOrEditExpenseViewModel

@{
  ViewBag.Title = "Add/Edit expense";
}

<div class="row">
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(f => f.Expense.Id)
      <div class="panel panel-primary">
        @Html.PanelHeading(Model.IsNewExpense ? "Add Expense" : "Edit Expense")
        <div class="panel-body">
          @Html.ValidationBootstrap()

          <div class="form-group">
            @{
              Span s = new Span("Date");
              s.CSSClasses.Add("input-group-addon");

              IExtendedHtmlStringLegacy dateControl = Html.DateTimeTextBoxFor(f => f.Expense.Date);

              dateControl.Prepend(s);
            }

            @dateControl
          </div>

          @Html.FormGroupControlFor(f => f.Expense.CategoryId, Model.AllUserCategories).AddText("Category", false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Expense.Amount).AddText("Amount", false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Expense.Description, 3, 30).AddText("Description", false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Expense.PaymentType, Model.AllPaymentTypes).AddText("Payment type", false).WithAddonBehavior()

          <div class="text-center">
            @Html.AwesomeBootstrapCheckboxFor(f => f.Expense.IsFixed).AsPrimary()
          </div>
        </div>
        @if (Model.IsNewExpense)
        {
          PanelFooterButton addAnother = new PanelFooterButton(EButton.Regular, "Save & add another")
            .AddCssClass("btn btn-default")
            .SetAttribute("id", "saveAddAnother");

          @Html.Hidden("saveAddAnotherEnabled", false)
          @Html.PanelFooter("Save", customButtons: addAnother)
        }
        else
        {
          @Html.PanelFooter("Save")
        }
      </div>
    }
  </div>
</div>

@if (Model.Expense.Amount == 0)
{
  <script type="text/javascript">
    $(function() {
      $('#Expense_Amount').val('');

      $('#saveAddAnother')
        .click(function() {
          $('#saveAddAnotherEnabled').val(true);
          $('form').submit();
        });
    });
  </script>
}
