﻿@using ExpenseLogger.Core
@using ExpenseLogger.Models.Core
@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@using WebExtras.FontAwesome
@model ExpenseLogger.Web.Models.Expenses.IndexViewModel

@{
  ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-lg-1 col-lg-offset-2 col-md-2 context-actions">
    <table class="table table-unbordered text-right hidden-xs hidden-sm">
      <tr>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-plus fa-3x"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                @Html.ActionLink("Expense", MVC.Expenses.Add())
              </li>
              <li>
                @Html.ActionLink("Reminder", MVC.Reminders.Add())
              </li>
              @*
                <li>
                  <a href="#">Recurring Expense</a>
                </li>*@
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-search fa-3x"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                @Html.ActionLink("Expenses", MVC.Expenses.Search())
              </li>
              <li>@Html.ActionLink("Reminders", MVC.Reminders.Search())</li>
              @*<li>
                  <a href="#">Reminder</a>
                </li>
                <li>
                  <a href="#">Recurring Expense</a>
                </li>*@
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12 col-lg-3 col-md-5 col-sm-6">
    <div class="panel @Model.PanelColor">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-2">
            @Model.PanelIcon
          </div>
          <div class="col-xs-10 text-right">
            <div>in @DateTime.Now.ToString("MMMM yyyy")</div>
            <div class="huge">
              <i class="fa @User.Currency.GetStringValue()"></i> @Html.DisplayFor(f => f.Summary.MonthActual)
            </div>
          </div>
        </div>
        <div class="text-center">
          <span title="Daily average spend this month" class="badge badge-lg">Daily Avg: @Html.DisplayFor(f => f.DailyAverage)</span>
          <span title="Projections update every hour" class="badge badge-lg">Projected: @Html.DisplayFor(f => f.Summary.MonthProjected)</span>
          @if (Model.Summary.MonthBudget == AppConstants.DefaultInt32NotSetValue)
          {
            <span class="badge badge-lg">No budget set</span>
          }
          else
          {
            <span class="badge badge-lg">Budget: @Model.Summary.MonthBudget</span>
          }
        </div>
      </div>
      <a href="@Url.Action(MVC.Expenses.MonthlyDetails(DateTime.Now.Ticks))">
        <div class="panel-footer">
          <span class="pull-left">View details</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3 col-md-5 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-10 text-right">
            <div>in @DateTime.Now.Year</div>
            <div class="huge">
              <i class="fa @User.Currency.GetStringValue()"></i> @Html.DisplayFor(f => f.Summary.YearActual)
            </div>
          </div>
        </div>
        <div class="text-center">
          <span title="Projections update every hour" class="badge badge-lg">Projected: @Html.DisplayFor(f => f.Summary.YearProjected)</span>
        </div>
      </div>
      <a href="@Url.Action(MVC.Expenses.YearlyDetails(DateTime.Now.Ticks))">
        <div class="panel-footer">
          <span class="pull-left">View details</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-1 col-md-2 context-actions">
    <table class="table table-unbordered text-left hidden-xs hidden-sm">
      <tr>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-upload fa-3x"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                @Html.ActionLink("Expense", MVC.Expenses.Upload())
              </li>
              @*<li>
                  @Html.ActionLink("Reminder", MVC.Reminders.Add())
                </li>
                  <li>
                    <a href="#">Recurring Expense</a>
                  </li>*@
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          @*<div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-search fa-3x"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  @Html.ActionLink("Expenses", MVC.Expenses.Search())
                </li>
                <li>
                    <a href="#">Reminder</a>
                  </li>
                  <li>
                    <a href="#">Recurring Expense</a>
                  </li>
              </ul>
            </div>*@
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-5">
    @if (Model.HaveAnyReminders)
    {
      @Html.Partial(MVC.Reminders.Views._ThreeDayRemindersStripPanel, Model.RemindersLookup)
    }
    else
    {
      <div class="alert alert-info">
        @Html.Icon(EFontAwesomeIcon.Info_Circle)&nbsp; No reminders for today
      </div>
    }

    <div class="panel panel-default">
      @Html.PanelHeading("Expenses Today", new { @class = "text-center" })
      <table id="tbl-today-expense" class="table table-condensed">
        <thead>
          <tr>
            <td class="visible-md visible-lg">Category</td>
            <td>Description</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody>
          @foreach (var e in Model.ExpensesToday)
          {
            <tr>
              <td class="visible-md visible-lg">@e.Category.Name</td>
              <td>@e.Description</td>
              <td>
                @if (e.PaymentType != EPayment.Unknown)
                {
                  @MvcHtmlString.Create(e.PaymentType.GetStringValue() + " | ")
                } <i class="fa @User.Currency.GetStringValue()"></i> @e.Amount.ToString("F02")
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="graphContainer" style="height: 40rem; width: 100%;"></div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    var tblToday = $('#tbl-today-expense');
    tblToday.DataTable({
      bFilter: false,
      bAutoWidth: false,
      bLengthChange: false,
      info: false,
      iDisplayLength: 7,
      pagingType: 'simple',
      responsive: true
    });

    //var tblReminders = $('#tbl-reminders');
    //tblReminders.DataTable({
    //  bFilter: false,
    //  bAutoWidth: false,
    //  bLengthChange: false,
    //  info: false,
    //  iDisplayLength: 7,
    //  pagingType: 'simple',
    //  responsive: true
    //});


    $('#graphContainer')
      .highcharts({
        chart: {
          zoomType: 'x'
        },
        title: {
          text: '@DateTime.Now.ToString("MMMM yyyy")'
        },
        xAxis: {
          type: 'datetime',

          // days in current month
          maxRange: @DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month) * 24 * 3600 * 1000
        },
        yAxis: [
          {
            title: {
              text: 'Actual spend'
            }
          },
          {
            title: {
              text: 'Projected spend'
            },
            opposite: true
          }
        ],
        legend: {
          enabled: true
        },
        series: [
          {
            type: 'column',
            color: 'rgba(237, 194, 64, 0.75)',
            name: 'Daily spend',
            cursor: 'pointer',
            point: {
              events: {
                click: function() {
                  var momentIsoDate = moment.utc(this.x).toISOString();

                  $.get('@Url.Action(MVC.Expenses.ShowDailyDetails())',
                    { date: momentIsoDate },
                    function(data) {
                      @* see Layout page for declarations *@
                      pageModalTitle.html(data.title);
                      pageModalBody.html(data.content);
                      pageModalFooter.hide();
                      pageModal.modal();
                    });

                }
              }
            },
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(@DateTime.Now.Year, @DateTime.Now.Month - 1, 1),
            @Html.Raw("data: " + JsonConvert.SerializeObject(Model.DailySpendGraphData))
          },
          {
            type: 'spline',
            color: '#666666',
            name: 'End of month projection',
            yAxis: 1,
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(@DateTime.Now.Year, @DateTime.Now.Month - 1, 1),
            @Html.Raw("data: " + JsonConvert.SerializeObject(Model.DailyTrendGraphData))
          }
        ],
        tooltip: {
          pointFormat: '{series.name}: <b>@User.Currency.GetUnicodeValue(){point.y:.2f}</b>'
        }
      });
  });
</script>