﻿@model ExpenseLogger.Core.ProcessResult

@{
  ViewBag.Title = "UploadProcessing";
}

<div id="content">

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
      <div class="panel panel-primary">
        @Html.PanelHeading("Upload result")
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Result</th>
              <td>@Model.Success</td>
            </tr>
            <tr>
              <th>Summary</th>
              <td>@Model.Summary</td>
            </tr>
            <tr>
              <th>Details</th>
              <td>@Model.Details</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>