﻿@model ExpenseLogger.Web.Models.Security.SettingsViewModel

@using ExpenseLogger.Models.Core
@using WebExtras.Bootstrap
@using WebExtras.FontAwesome

@{
  ViewBag.Title = "System settings";
}

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-push-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="btn-group pull-right">
          @Html.Hyperlink("Add", MVC.Categories.Add()).AsButton(EBootstrapButton.Inverse, EBootstrapButton.XSmall).AddIcon(EFontAwesomeIcon.Plus_Square)
        </span>
        <div class="panel-title">System categories</div>
      </div>
      <table class="table table-condensed table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Owner</th>
            <th class="text-center" width="10%">@Html.Icon(EFontAwesomeIcon.Wrench)</th>
          </tr>
        </thead>
        <tbody>
          @foreach (Category c in Model.AllCategories)
          {
            <tr>
              <td>@c.Name</td>
              <td>@c.User.Username</td>
              @if (User.IsAdmin || User.Identity.Name == c.User.Username)
              {
                <td class="text-center">@Html.Hyperlink(EFontAwesomeIcon.Edit, MVC.Categories.Edit(c.Id)) @Html.Icon(EFontAwesomeIcon.Trash_O, new { @class="color-red" })</td>
              }
              else
              {
                <td class="text-center color-red">@Html.Icon(EFontAwesomeIcon.Ban)</td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      @Html.PanelHeading("Database provider")
      <table class="table table-condensed table-striped table-bordered">
        <tbody>
        @foreach (var kv in Model.DataProviderSettings)
        {
          <tr>
            <th>@kv.Key.GetStringValue()</th>
            <td>@kv.Value</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
    @if (Model.EmailSettings.Count > 0)
    {
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="btn-group pull-right">
            @Html.Hyperlink("Edit", MVC.Security.SmtpSettings()).AsButton(EBootstrapButton.Inverse, EBootstrapButton.XSmall).AddIcon(EFontAwesomeIcon.Edit)
          </span>
          <div class="panel-title">SMTP settings</div>
        </div>
        <table class="table table-condensed table-striped table-bordered">
          <tbody>
          @foreach (var kv in Model.EmailSettings)
          {
            <tr>
              <th>@kv.Key</th>
              <td>@kv.Value</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }

  </div>
</div>