﻿@using WebExtras.Mvc.Bootstrap
@model ExpenseLogger.Web.Models.Security.SignInViewModel

@{
  ViewBag.Title = "Sign in";
}

<div class="hidden-xs">
  <br /><br /><br />
</div>

<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">

    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        @using (Html.BeginForm(MVC.Security.SignIn()))
        {
          <div class="panel panel-primary">
            @Html.PanelHeading("Sign in")
            <div class="panel-body">
              
              @Html.ValidationBootstrap()

              @Html.FormGroupControlFor(f => f.Username).AddText("Username", false)

              @Html.FormGroupControlFor(f => f.Password).AddText("Password", false)
              
              <div class="text-center">
                @Html.AwesomeBootstrapCheckboxFor(f => f.RememberMe).AsPrimary()
              </div>
            </div>
            @Html.PanelFooter("Sign in")
          </div>
        }
      </div>
    </div>

  </div>
</div>