﻿@using WebExtras.Bootstrap
@model ExpenseLogger.Web.Models.Security.SmtpSettingsViewModel

@{
  ViewBag.Title = "SMTP settings";
}

<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(f => f.ReturnUrl)
      <div class="panel panel-primary">
        @Html.PanelHeading("Email server settings")
        <div class="panel-body">
          @Html.ValidationBootstrap()
          <div id="test-connection-errors">

          </div>

          @Html.FormGroupControlFor(f => f.Settings.SystemEmail).AddText(false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Settings.WebmasterName).AddText(false).WithAddonBehavior()

          <hr />

          @Html.FormGroupControlFor(f => f.Settings.Host).AddText(false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Settings.Port).AddText(false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Settings.Username).AddText(false).WithAddonBehavior()

          @Html.FormGroupControlFor(f => f.Settings.Password).AddText(false).WithAddonBehavior()

          <div class="text-center">
            @Html.AwesomeBootstrapCheckboxFor(f => f.Settings.UseSsl).AsPrimary()
          </div>

        </div>
        <div class="panel-footer">
          @Html.Button(EButton.Regular, "Test connection", new { id = "test-connection" }).AsButton(EBootstrapButton.Default).AddCssClass("pull-left")

          @Html.Image(Links.Content.images.radio_svg, new { id = "test-connection-loader" }).AddCssClass("pull-left radio-spinner")

          @Html.Button(EButton.Submit, "Save").AsButton(EBootstrapButton.Inverse)
        </div>
      </div>
    }
  </div>
</div>

<script type="text/javascript">
  $(function () {
    var testConnLoader = $('#test-connection-loader');
    testConnLoader.hide();

    if ($('#Settings_Port').val() === '0')
      $('#Settings_Port').val('');

    $('#test-connection').on('click', function () {
      testConnLoader.show();

      var url = '@Url.Action(MVC.Security.TestSmtpConnection())';
      var options = {
        server: $('#Settings_Host').val(),
        port: $('#Settings_Port').val(),
        useSsl: $('#Settings_UseSsl').is(':checked')
      };

      $.get(url, options, function (result) {
        $('#test-connection-errors').html(html5.constructor(result.payload));

        testConnLoader.hide('slow');
      });
    });
  });

</script>