﻿@using WebExtras.Mvc.Bootstrap
@model ExpenseLogger.Web.Models.Security.UserProfileViewModel

@{
  ViewBag.Title = "Your profile";
}

<div class="visible-lg">
  <br /><br />
</div>

<div class="row">
  <div class="col-xs-12 col-lg-offset-3 col-lg-6">
    @using (Html.BeginForm(MVC.Security.UserProfile()))
    {
      <div class="panel panel-primary">
        @Html.PanelHeading("Your Profile")
        <div class="panel-body">
          @Html.ValidationBootstrap()

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <fieldset>
                <legend>Personal</legend>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Username</div>
                    <label class="form-control">@User.Identity.Name</label>
                  </div>
                </div>

                @Html.FormGroupControlFor(f => f.User.PasswordHash, new { placeHolder = "not shown for security reasons" }).AddText("Password", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.User.FullName).AddText("Full name", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.User.Email).AddText("Email", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.User.Country, Model.AllCountries).AddText("Country", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.User.SecretQuestion).AddText("Secret question", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.User.SecretAnswer, new { placeHolder = "not shown for security reasons" }).AddText("Secret answer", false).WithAddonBehavior()

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Member Since</div>
                    <label class="form-control">@Html.DisplayFor(f => f.User.MemberSince)</label>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Is Admin</div>
                    <label class="form-control">@Model.User.IsAdmin</label>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Is Verified</div>
                    <label class="form-control">@Model.User.IsVerified</label>
                  </div>
                </div>

              </fieldset>

            </div>
            <div class="col-xs-12 col-sm-6">
              <fieldset>
                <legend>Settings</legend>

                @Html.FormGroupControlFor(f => f.Settings.Currency, Model.AllCurrencies).AddText("Currency", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.Settings.MonthlyBudget).AddText("Monthly budget", false).WithAddonBehavior()

                @Html.FormGroupControlFor(f => f.Settings.PaymentType, Model.AllPaymentTypes).AddText("Payment type", false).WithAddonBehavior()
                
                @Html.FormGroupControlFor(f => f.Settings.ReminderDays, Model.AllReminderDays).AddText("Reminder email", false).WithAddonBehavior()
              </fieldset>
            </div>
          </div>

        </div>
        @Html.PanelFooter("Save")
      </div>
    }
  </div>
</div>
