﻿@model ExpenseLogger.Web.Models.Categories.AddOrEditCategoryViewModel

@{
  string title = ViewContext.RouteData.Values["action"].ToString();
  ViewBag.Title = title + " category";

}

<div class="row">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
    @using (Html.BeginForm(MVC.Categories.Add()))
    {
      <div class="panel panel-primary">
        @Html.PanelHeading(title + " category")
        <div class="panel-body">
          @Html.ValidationBootstrap()

          @Html.FormGroupControlFor(f => f.Category.Name).AddText("Name", false).WithAddonBehavior()
        </div>
        @Html.PanelFooter("Save")
      </div>
    }
  </div>
</div>
